@import './reset.css';
@import './variables.css';
@import './dark.css';
@import './light.css';

@font-face {
    font-family: Consolas;
    src: local('Consolas'), url('./fonts/Consolas.ttf');
}

.app {
    font-family: Consolas;
}
