.listWrapper {
    padding: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    overflow-y: scroll;
    background-color: var(--bg-color-panel);
    gap: 12px;
}

.listTitle,
.userList {
    display: flex;
    justify-content: space-around;
    list-style: none;
    gap: 30px;
}

.listTitle {
    background-color: rgb(248, 240, 240);
    padding: 10px;
    color: var(--bg-color-inverted);
    border-radius: 10px;
}

.active {
    padding: 2px;
    border-radius: 4px;
    background-color: #334154;
    display: flex;
    justify-content: space-around;
    list-style: none;
    gap: 30px;
    color: rgb(248, 240, 240);
}
