.listWrapper {
    padding: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    max-width: 400px;
    max-height: 300px;
    overflow-y: scroll;
}

.listTitle,
.userList {
    display: flex;
    justify-content: space-around;
    list-style: none;
    gap: 30px;
}

.listTitle {
    background-color: rgb(248, 240, 240);
}

.active {
    background-color: rgb(122, 72, 72);
    display: flex;
    justify-content: space-around;
    list-style: none;
    gap: 30px;
}
