.formWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: var(--bg-color-panel);
    min-width: 300px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.switchers {
    display: flex;
    justify-content: space-between;
}

.formCheckboxWrapper {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
}

.formCheckbox {
    width: 0;
    height: 0;
    opacity: 0;
}

.psevdoCheckbox {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--bg-color);
    border-radius: 50%;
}

.psevdoCheckbox::before {
    position: absolute;
    top: 5px;
    left: 5px;
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--bg-color-panel);
    transition: transform 0.2s;
    transform: scale(0);
}

.formCheckbox:checked + .psevdoCheckbox::before {
    transform: scale(1);
}
